header { 
    display : flex; 
    flex-direction : row;
    justify-content : space-between 
  } 
  
  body {
    height: 100vh;
    background-color: 
    #DEB887 ;
  }
  .flex-coun{
    display:flex;
  }
  .Ab {
    display : flex; 
    flex-direction : row;  
  }
  .A5 {
      display: flex;
  /*   align-items : stretch; */
    flex-direction : column;
    justify-content:space-between;
    width: 30%;
  }
  .cont1 img{
    width: 350px;
  }
  
  .cont1{
    display: inline-block;
    width: 60%;
  }
  